/packages
/Documents
/LearnMore.Mvc/bin
/LearnMore.Mvc/obj/Debug
/LearnMore.Mvc/App_Data
/LearnMore.Test/bin/Debug
/LearnMore.Test/obj/Debug
/LearnMore.Mvc.IntegrationTests/bin/Debug
/LearnMore.Mvc.IntegrationTests/obj/Debug
